{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>IT job zakatek, zaladek</title>


    <meta name="description" content="Najlepsze oferty pracy dla testerów, programistów, developerów, devopsów. Oferty dużych i małych firm." />
    <meta name="keywords" content="praca it, oferty it, praca dla programistow, praca dla testerow, oferty z wynagrodzeniem" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/offer.css' %}">

    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">


</head>
<body>


<div id="container">
    <div id="header_top">

        <div id="logo">
            <span class="geek">geek</span>board.io
        </div>
        <div id="menu">
            <ul class="main_menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Add offer</a></li>
                <li><a href="#">Companies</a></li>
                <li><a href="{% url 'job_list' %}">Offers</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{% url 'sign_up' %}">Sign up</a></li>
            </ul>
        </div>
        <div style="clear:both"></div>

    </div>

    <div id="header_job_offer_main">
        <div id="header_job_offer">
        <ul class="job_list">
            <li>DevOps</li>
            <li class="testing"><a href="3">Testing</a></li>
            <li>Frontend</li>
            <li>Backend</li>
            <li>Full dev</li>
            <li>Managment</li>
            <li>BA</li>
            <li>UI/UX</li>
            <li>Support</li>
            <li>IT</li>
        </ul>
        </div>
    </div>

    <div id="content">
        content
    </div>


    <div id ="footer">
        s
    </div>
</div>


</body>
</html>
